@import "./style/fonts";
@import "./style/reset";
@import "./style/utilis";
@import "./style/container";
@import "./style/nav.scss";
@import "./style/hover-underline";
@import "./style/header.scss";
@import "./style/booking.scss";
@import "./style/specialties.scss";
@import "./style/menu.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
}
